@import "./settings.scss";

.potzblitz {
  * {
    box-sizing: border-box;
  }

  font-family: var(--potzblitz--font-face);
  font-size: var(--potzblitz--font-size);
  height: fit-content;
  color: var(--potzblitz--color-foreground);
  background: var(--potzblitz--color-background);
  overflow-y: scroll;

  button {
    height: auto;
  }

  .group {
    display: flex;
    flex-direction: column;
    .group-name {
      font-size: 1.125em;
      cursor: pointer;
      font-weight: bold;
      text-transform: uppercase;
      padding: 12px 10px;
      display: flex;
      justify-content: stretch;
      align-items: stretch;
      width: 100%;
      background: var(--potzblitz--color-background);
      color: var(--potzblitz--color-foreground);
    }

    &:not(.visible) {
      .group-name {
        opacity: 0.6;
        &:before {
          margin-right: 10px;
        }
      }
      > .entries {
        display: none;
      }
    }
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }
}
