.potzblitz {
  --potzblitz--padding: 5px;
  --potzblitz--font-face: "IBM Plex Mono", monospace;
  --potzblitz--font-size: 9px;

  --potzblitz--color-foreground: black;
  --potzblitz--color-background: white;
}
