.ui-root {
  // Colors
  --potzblitz--color-foreground: black;
  --potzblitz--color-background: white;
  --potzblitz--color-dim: #ddd;

  // Spacings & Layout
  --potzblitz--layout-gap: 2px;

  // Groups
  --potzblitz--group-border-width: 0.1px;
  --potzblitz--group-border-color: rgba(var(--color-fg), 0.2);
}
