:root {
  --potzblitz--color-foreground: black;
  --potzblitz--color-background: white;
  --potzblitz--color-highlight: white;
  --potzblitz--color-title: rgba(0, 0 ,0, 0.05);
  --potzblitz--color-border: rgba(0, 0 ,0, 0.15);

  --potzblitz--font: Sans-Serif;
  --potzblitz--font-size: 10px;

  --potzblitz--column-count: 3;
  --potzblitz--border: 1px solid black;
}
