@mixin LabelStyle($padding, $font) {
  --label-width: 30ch;

  font-family: $font;
  margin-right: 10px;
  text-transform: uppercase;
  width: var(--label-width);
  display: flex;
  align-items: center;
  padding: $padding;
  align-self: stretch;
  margin-right: 40px;
}
