@import "./Common.scss";

.toggle {
  --toggle--font: Monospace;
  --toggle--padding: 10px;

  --toggle--color-on: #000;
  --toggle--color-off: #eee;
  --toggle--color-hover: #aaa;

  --toggle--size: 15px;
  --toggle--radius: 15px;
  --toggle--knob-radius: 100%;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-grow: 1;
  height: 100%;
  min-height: 100%;
  position: relative;
  overflow: visible !important;
  font-size: var(--select--font-size);

  label {
    @include LabelStyle(var(--toggle--padding), var(--toggle--font));
  }

  .input-wrapper {
    align-self: center;
    justify-self: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    display: flex;
    transition: outline 50ms ease;
    cursor: pointer;
    border-radius: var(--toggle--radius);
    &:hover {
      .state {
        opacity: 0.5;
      }
    }

    input {
      display: none;
    }

    .state {
      min-width: var(--toggle--size);
      min-height: var(--toggle--size);
      border-radius: var(--toggle--knob-radius);
      &.on {
        background: var(--toggle--color-on);
      }
      &.off {
        background: var(--toggle--color-off);
      }
    }
  }
}
