@import "./Common.scss";

.toggle {
  --toggle--font: Monospace;
  --toggle--padding: 15px;
  --toggle--color-background: #000;
  --toggle--color-knob: #fff;
  --toggle--color-border: #000;
  --toggle--hover--color-background: #fff;
  --toggle--hover--color-knob: #000;
  --toggle--hover--color-border: #fff;
  --toggle--size: 15px;
  --toggle--border-knob-width: 2px;
  --toggle--border-track-width: 2px;
  --toggle--radius: 20px;
  --toggle--knob-radius: 100%;

  display: flex;
  flex-direction: row;
  flex-grow: 1;
  height: 100%;

  label {
    @include LabelStyle(var(--toggle--padding),
                        var(--toggle--font));
  }
  
  .knob {
    align-self: center;
    justify-self: center;
    min-width: calc(2 * var(--toggle--size));
    min-height: var(--toggle--size);
    background: var(--toggle--color-background);
    display: flex;
    width: fit-content;
    transition: outline 50ms ease;
    cursor: pointer;
    border-radius: var(--toggle--radius);
    margin: 8px 0;
     border: var(--toggle--border-track-width) solid
        var(--toggle--color-border);
    &:hover {
      background: var(--toggle--hover--color-background);
      .state {
        background: var(--toggle--hover--color-knob);
      }
    }

    input {
      display: none;
    }

    .state {
      min-width: var(--toggle--size);
      min-height: var(--toggle--size);
      border-radius: var(--toggle--knob-radius);
      background: var(--toggle--color-knob);
      border: var(--toggle--border-knob-width) solid
        var(--toggle--color-border);
      transition: transform 100ms ease, opacity 100ms linear,
        background 100ms linear, margin 150ms ease;
      margin-left: 0;
      &.on {
        transform: translateX(60%);
      }
    }
  }
}
