@import "./Common.scss";

.toggle {
  --toggle--font: Monospace;
  --toggle--padding: 10px;

  --toggle--color-on: var(--potzblitz--color-foreground);
  --toggle--color-off: var(--potzblitz--color-dim);

  --toggle--size: 15px;
  --toggle--radius: 15px;
  --toggle--knob-radius: 100%;

  @include ComponentLayout;

  label {
    @include LabelStyle;
  }

  .input-wrapper {
    align-self: center;
    justify-self: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    display: flex;
    transition: outline 50ms ease;
    cursor: pointer;
    border-radius: var(--toggle--radius);
    margin: var(--toggle--padding);
    &:hover {
      .state {
        opacity: 0.5;
      }
    }

    input {
      display: none;
    }

    .state {
      min-width: var(--toggle--size);
      min-height: var(--toggle--size);
      border-radius: var(--toggle--knob-radius);
      &.on {
        background: var(--toggle--color-on);
      }
      &.off {
        background: var(--toggle--color-off);
      }
    }
  }
}
