@use "@potzblitz/rdom/dist/style.css";

* {
  box-sizing: border-box;
}

:root {
  --potzblitz--color-foreground: white;
  --potzblitz--color-background: black;
  --potzblitz--color-highlight: white;
  --potzblitz--color-title: rgba(250, 250 ,250, 0.05);
  --potzblitz--color-border: rgba(250, 250 ,250, 0.2);

  --potzblitz--font: "JetBrains Mono";
  --potzblitz--font-size: 12px;

  --potzblitz--column-count: 3;
}

body {
  font-family: var(--potzblitz--font);
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 5px;
  min-height: 100vh;
  background: var(--potzblitz--color-background);
}

.turtle-gfx {
  border: 1px solid var(--potzblitz--color-border);
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  max-height: calc(100% - 2 * 60px);
  padding: 10px;
  canvas {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }
}

.ui-root {
  .steps, .scale, .centerX, .centerY {
    grid-column: -1 / 1;
  }
}
