.potzblitz-theme {
  --font: monospace;
  --font-size: 10px;

  --border-radius: 8px;
  --padding: 15px;

  --color-background: #1f1f1f;
  --color-text: #f2f2f2;

  --color--hover-background: #3f3f3f;
  --color--hover-text: #edf8f8;

  .group {
    --group--color-background: #121212;
    --group--color-text: #a2a2a2;
  }

  label {
    --label--font-size: 0.5rem;
  }
  
  .button {
    --button--color-background: var(--color-background);
    --button--color-foreground: var(--color-text);
    --button--color-hover-background: var(--color--hover-background);
    --button--color-hover-foreground: #f1e7d3;
    --button--padding: 10px 20px;
    --button--border-radius: var(--border-radius);
  }

  .input {
    --input--padding: 4px;
    --input--color-background: transparent;
    --input--color-text: var(--color-text);
  }

  .slider {
    --slider--color-background: #a2a2a2;
    --slider--color-foreground: var(--color-text);
    --slider--color-knob: var(--color-background);
    --slider--color-knob-border: #a2a2a2;

    --slider--knob-border-width: 2px;
    --slider--knob-width: 20px;
    --slider--knob-height: 20px;
    --slider--knob-radius: 20px;

    --slider--track-height: 2px;
    --slider--track-radius: 0px;
    --slider--track-border-width: 0px;
    --slider--track-border-color: transparent;
  }

  .range-slider {
    --slider--color-background: #a2a2a2;
    --slider--color-foreground: var(--color-text);
    --slider--color-knob: var(--color-background);
    --slider--color-knob-border: #a2a2a2;

    --slider--knob-border-width: 2px;
    --slider--knob-width: 20px;
    --slider--knob-height: 20px;
    --slider--knob-radius: 20px;

    --slider--track-height: 2px;
    --slider--track-radius: 0px;
    --slider--track-border-width: 0px;
    --slider--track-border-color: transparent;
  }

  .toggle {
    --toggle--color-background: #121212;
    --toggle--color-knob: var(--color-background);
    --toggle--color-knob-border: #a2a2a2;

    --toggle--size: 20px;
    --toggle--knob-border-width: 2px;
    --toggle--radius: 20px;
    --toggle--knob-radius: 100%;
  }

  .text {
    --text--color-background: #121212;
    --text--color-text: var(--color--text);
  }

  .potentiometer {
    --potentiometer--color: var(--color--hover-background);
  }
}
